*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    box-sizing: border-box;
}
body{
    background-color: #faedcd;
}
header{
    background-color: #a6b98b;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
}

h1{
    width: 50px;
    margin-left: 20px;
}
h1 img{
    width: 100%;
}
nav{ 
    width: 550px;
    margin: 20px auto;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li a{
    padding: 5px;
    color: black;
    font-size: 26px;
}
nav ul li a:hover{
    border-bottom: 2px solid blue;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home h2{
    text-align: center;
    width: 300px;
    margin: 20px auto;
    font-size: 22px;
}
.img{
    width: 400px;
    margin: 0 auto;
}

.img img{
    width: 100%;
}
main{
    width: 1024px;
    margin: 0 auto;
}
.aboutus{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.aboutus h2{
    font-size: 22px;
}
.aboutusimg{
    width: 250px;
}
.fotou{
    width: 250px;
    border-radius: 35px;
}
footer{
    background-color: #a6b98b;
    width: 100%;
    position: fixed;
    bottom: 0;

}
.footercenter{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.last{
    padding: 5px 10px;
    font-size: 20px;
    align-self: flex-end;
    
}
